<!DOCTYPE html>
<html>

<head>
  <title>Razorpay Engineering</title>
  <link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel='stylesheet' href='/stylesheets/main.css' />
</head>

<body>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/jcubic/static/js/wcwidth.js"></script>
  <script src="https://unpkg.com/jquery.terminal/js/jquery.mousewheel-min.js"></script>
  <script src="https://unpkg.com/js-polyfills/keyboard.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/aaronbarker/css-variables-polyfill@master/css-var-polyfill.js"></script>

  <script src="/javascripts/models/user.js"></script>
  <script src="/javascripts/commands/start.js"></script>
  <script src="/javascripts/commands/sh.js"></script>
  <script src="/javascripts/puzzles/base.js"></script>
  <script src="/javascripts/puzzles/speed.js"></script>
  <script src="/javascripts/puzzles/birdie.js"></script>
  <script src="/javascripts/puzzles/lander.js"></script>
  <script src="/javascripts/puzzles/pay.js"></script>
  <script src="/javascripts/utils.js"></script>
  <script src="/javascripts/fs.js"></script>
  <script src="/javascripts/init.js"></script>

  <!-- 
    
    ```esolang-chef
      Winner winner chicken dinner.

      Ingredients.
      3 teaspoons salt
      4 teaspoons sugar
      15 beans
      98 ml mustard
      108 ml corn syrup
      108 ml egg white
      35 ml oil
      3 zucchinis
      111 ml water
      110 g chicken

      Cooking time: 52594 hours.

      Method.
      Put chicken into the mixing bowl.
      Put water into the mixing bowl.
      Put zucchinis into the mixing bowl.
      Combine oil into the mixing bowl.
      Put egg white into the mixing bowl.
      Put corn syrup into the mixing bowl.
      Put 3 teaspoons sugar into the mixing bowl.
      Add 4 teaspoons salt into the mixing bowl.
      Combine 15 beans into the mixing bowl.
      Put mustard into the mixing bowl.
      Liquefy the contents of the mixing bowl.
      Pour the contents of the mixing bowl into the baking dish.

      Serves 1.

    ```
    Find the unicorn to finish the game
  -->

</body>

</html>